 
 .blog-post img{
    aspect-ratio: 4/5;
    object-fit: cover;
    object-position: center;
    width: 100%;      /*radi malih slika dodamo ovo*/
 }

 .blog-post h2{
font-size: 2 rem;
 }
 .blog-page{
   min-height:calc(100vh - 56px);
 }

 .blog-single{
   min-height:calc(100vh - 56px);
 }

 @media (max-width: 440px) {
    .blog-post img{
       aspect-ratio: 16/9;
    }
 }