.blog-post img {
  aspect-ratio: 4/4;
  object-fit: cover;
  width: 100%; /*radi malih slika dodamo ovo*/
}

.blog-post h2 {
  font-size: 1.3 rem;
}

.blog-page {
  min-height: calc(100vh - 56px);
}

.blog-single {
  min-height: calc(100vh - 56px);
}

@media (max-width: 440px) {
  .blog-post img {
    aspect-ratio: 9/16;
  }
}
